@model AfoCompanion.Models.WeaponInfoViewModel

@{
    ViewBag.Title = "CheckWeapon";
}

<div class="info-weapon-header">Weapon Info</div>

<div class="box-weapon">
    <h2>@Model.mainWeapon.name (lvl @Model.mainWeapon.req_lvl)</h2>
    @{
        if (Model.precWeapon.upgradable)
        {
            <span> <a href="@Url.Action("CheckWeapon", "Home", new { weaponID = Model.precWeapon.wid })"><img src="~/Images/left-arrow.png" alt="arrow" title="See previous upgrade" style="height:30px" /></a></span>
        }
    }
    <img src="@Url.Content(Model.mainWeapon.imgPath)" class="img-box-weapon" alt="weapon" /> 
    @{ 
        if (Model.mainWeapon.upgradable)
        {
            <span> <a href="@Url.Action("CheckWeapon", "Home", new { weaponID = Model.mainWeapon.up_itemId })"><img src="~/Images/arrow-145766_960_720.png" alt="arrow" title="See next upgrade" style="height:30px" /></a></span>
        }
    }
    <h3><img src="~/Images/strength.png" alt="str" /> +@Model.mainWeapon.min_str ~ @Model.mainWeapon.max_str%</h3>
    @{
        if (Model.mainWeapon.bonus != "-")
        {
            <h3>Bonus: @Model.mainWeapon.bonus</h3>
        }
    }
    <hr />
    <div class="row">
        <div class="weapon-break col-md-4">
            <h3>Disassemble</h3>
            <ul>
                <li><img src="~/Images/store_iron.png" alt="iron" style="width:60px" /> x @Model.mainWeapon.break_iron irons</li>
                <li><img src="~/Images/store_stone.png" alt="stone" style="width:60px"/> x @Model.mainWeapon.break_stone stones</li>
                <li><img src="~/Images/store_wood.png" alt="wood" style="width:60px"/> x @Model.mainWeapon.break_wood woods</li>
            </ul>
        </div>
        <div class="weapon-shop col-md-4">
            <h3>Price in shop</h3>
            <p><img src="~/Images/icon_gold_item.png" alt="gold" style="width:60px"/> x @Model.mainWeapon.price_shop</p>
        </div>
        <div class="weapon-sell col-md-4">
            <h3>Sell weapon</h3>
            <p><img src="~/Images/icon_gold_item.png" alt="gold" style="width:60px"/> x @Model.mainWeapon.price_sell</p>
        </div>
    </div>
    
    
</div>

<div class="to-obtain-box">
    @{
        if (Model.precWeapon.up_itemId == Model.mainWeapon.wid)
        {
            <h2>To obtain @Model.mainWeapon.name.ToLower()</h2>
            <ul>
                <li><img src="@Url.Content(Model.precWeapon.imgPath)" alt="weapon" style="width:60px"/></li>
                <li><img src="~/Images/alchemy.png" alt="alchemy-potion" style="width:60px"/></li>
                <li><img src="@Url.Content(Model.precWeapon.crystalImgPath)" alt="crystal" style="width:60px"/> x @Model.precWeapon.crystal_amount</li>
                @{
                    if (Model.precWeapon.diamonds != 0)
                    {
                        <li><img src="~/Images/icon_diamond_item.png" style="width:60px"/> x @Model.precWeapon.diamonds diamonds</li>
                    }
                }
                <li><img src="~/Images/store_iron.png" alt="iron" style="width:60px"/> x @Model.precWeapon.upgrade_iron irons</li>
                <li><img src="~/Images/store_stone.png" alt="stone" style="width:60px"/> x @Model.precWeapon.upgrade_stone stones</li>
                <li><img src="~/Images/store_wood.png" alt="wood" style="width:60px"/> x @Model.precWeapon.upgrade_wood woods</li>
            </ul>
         }
    }
</div>


